@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
body #root {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle when hovered */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; /* color of the scrollbar handle */
  border-radius: 10px; /* roundness of the scrollbar handle */
  box-shadow: rgba(0, 2, 0, 0.8);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}
